.design11 {
  .module2 {
    padding-bottom: 33px;
    &__text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 22px;
      line-height: 146%;
      letter-spacing: -0.02em;
      color: #505050;
      span {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
}