.design11 {
  .module4 {
    padding: 18px 0;
    border-bottom: 1px solid #cecece;
    &__wrapper {
      display: grid;
      grid-template-columns: 48.5% 51.5%;
      gap: 0;
      @include media('sm') {
        grid-template-columns: 1fr;
      }
    }
    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: #a6a6a6;
      span {
        color: #6a6a6a;
      }
    }
    &__text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: #6a6a6a;
      line-height: normal;
    }
    &_middle {
      padding-top: 22px;
    }
    &_bottom {
      padding-top: 24px;
    }
  }
  .module4.last {
    margin-bottom: 12px;
  }
}