.design11 {
  .module3 {
    padding: 34px 0;
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      //padding-left: 16px;
      list-style-type: none;
      li {
        padding-left: 20px;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #505050;
          position: absolute;
          top: 50%;
          left: -1px;
          transform: translateY(-50%);
        }
        span {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 22px;
          line-height: 145%;
          letter-spacing: -0.02em;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #505050;
        }
      }
    }
  }
}