.design11 {
  .module3 {
    padding: 37px 0;
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      padding-left: 16px;
      list-style-type: disc;
      li {
        span {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 22px;
          line-height: 145%;
          letter-spacing: -0.02em;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #505050;
        }
      }
    }
  }
}